* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
}

/* #box {
    height: 200px;
    width: 200px;
    background-color: crimson;
}

@media (max-width: 600px) and (min-width: 500px) {
    #box{
        height: 100px;
        width: 100px;
        background-color: lightblue;
        border-radius: 50%;

    }
} */

nav {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    font-family: monospace;
}

.nav1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.nav1 h6 {
    font-weight: 100;
    font-size: 17px;
    width: 50px;
}

.nav2 h4 {
    font-size: 17px;
    font-weight: 100;
}

.nav2 h5 {
    font-size: 20px;
    display: none;
}

.nav2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.nav1 img {
    height: 50px;
}

@media (max-width: 600px){
    /* nav {
        background-color: cyan;
    } */

    nav {
        padding: 15px;
    }
    
    .nav1 img{
        height: 35px;
    }

    .nav1 h6 {
        font-size: 11px;
    }

    .nav2 h4 {
        display: none;
    }

    .nav2 h5 {
        display: block;
    }
}
